<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Statistics site example!</h2>

<div id="app">
    {{message}}
    <br>
    <div v-if="state===0">
        <input v-model="userName" type="text" />
        <input v-model="userEmail" type="text" />
        <button @click="authentificate">auth/enter</button>
    </div>
    <div v-else-if="state===1">
        <div>
            <ol>
                <li v-for="(user,index) in users" :key="index">
                    <button @click="getUserInfo(user.id)">
                        {{user.name}}
                    </button>
                </li>
            </ol>
        </div>
    </div>
    <div v-else-if="state===2">
        UserName: {{viewedUser.name}} <br/>
        Created: {{viewedUser.created}} <br/>
        Email: {{viewedUser.email}} <br/>
        EnterStats: <br/>
        <ol>
            <li v-for="(action,index) in viewedUser.actions" :key="index">
                {{action.date}}
            </li>
        </ol>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            userName: '',
            userEmail: '',
            state: 0,
            users: [],
            viewedUser: {}
        },
        methods: {
            
            async authentificate(){
                const formData = new FormData();
                formData.append('name',this.userName);
                formData.append('email',this.userEmail);
                const response = fetch('http://localhost:5000/Stats/UserList',{
                    method: 'POST',
                    body: formData
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                        console.log(data);
                        this.users = data;
                        this.state = 1;
                    });
                
            },
            async getUserInfo(id){
                const url = 'http://localhost:5000/Stats/UserStatsInfo/'+id.toString()
                const response = fetch(url,{
                    method: 'GET'
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    console.log(data);
                    this.viewedUser = data;
                    this.state = 2;
                });
            }
        }
    })
    
</script>

</body>
</html>