@model object

@{
    ViewBag.Title = "auth";
    Layout = "_Layout";
}

<h2>title</h2>

<form action="Stats/Redirect" method="post">
    <input name="name" type="text" />
    <input name="email" type="text" />
    <input type="submit" value="enter" />
</form>
